In [1]:
# number is even or odd 

x = 4 
r = x % 2 

if r == 0:
    print('Even number')

Even number

In [6]:
x = 5
r = x % 2 

if r == 0:
    print('Even number')

In [7]:
x = 5
r = x % 2 

if r == 0:
    print('Even number')

print('odd number')

odd number

In [8]:
x = 8
r = x % 2 

if r == 0:
    print('Even number')

print('odd number')

Even number
odd number

In [10]:
x = 4
r = x % 2 

if r == 0:
    print('Even number')

if r == 1:
    print('Odd number') 

if r == 2:
    print('even number')

Even number

In [12]:
x = 5
r = x % 2 

if r == 0:
    print('Even number')

else:
    print('odd number')

odd number

In [13]:
# check number is ever or odd
# check number is greate or smaller 

x = 3
r = x % 2

if r == 0:
    print('Even number')
    if x>5:
        print('greater number')
  
else:
    print('Odd Number')

Odd Number

In [14]:
# check number is ever or odd
# check number is greate or smaller 

x = 2
r = x % 2

if r == 0:
    print('Even number')
    if x>5:
        print('greater number')
  
else:
    print('Odd Number')

Even number

In [15]:
# check number is ever or odd
# check number is greate or smaller 

x = 8
r = x % 2

if r == 0:
    print('Even number')
    if x>5:
        print('greater number')
  
else:
    print('Odd Number')

Even number
greater number

In [18]:
# check number is ever or odd
# check number is greate or smaller 

x = 2
r = x % 2

if r == 0:
    print('Even number')
    
    if x>5:
        print('greater number')
    else:
        print('lesser number')
  
else:
    print('Odd Number')

Even number
lesser number

In [21]:
x = 1

if x == 1:
    print('one')
if x == 2:
    print('Two')
if x == 3:
    print('Three')
if x == 4:
    print('four')

Three

In [23]:
x = 1

if x == 1:
    print('one')
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('four')

one

In [24]:
x = 5

if x == 1:
    print('one')
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('four')

In [25]:
x = 5

if x == 1:
    print('one')
    
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('four')

else:
    print('number not found')

number not found

In [26]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

# LOOPS

In [27]:
print('data science')
print('data science')
print('data science')
print('data science')
print('data science')

data science
data science
data science
data science
data science

In [28]:
i = 1          # initializing

while i<=5:    # condition
    print('data science')
    i = i + 1  # increment

data science
data science
data science
data science
data science

In [29]:
i = 5          # initializing

while i>=1:    # condition
    print('data science')
    i = i - 1  # decrement

data science
data science
data science
data science
data science

In [30]:
i = 5          # initializing
while i>=1:    # condition
    print('data science :',i)
    i = i - 1  # decrement

data science : 5
data science : 4
data science : 3
data science : 2
data science : 1

In [31]:
i = 1
while i<=5:
    print('data science') # when we mention end then new line will not create
    
    j = 1
    while j<=4:
        print('technology')
        j = j + 1
        
    i = i + 1
    print()
  
    # the output which we got is very lengty but how to make them one line lets refer to below code

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [32]:
i = 1

while i<=5:
    print(' datascience', end = "") # when we mention end then new line will not create
    j = 1
    while j<=4:
        print(' technology', end="")
        j = j + 1
        
    i = i + 1
    print()

 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology

In [33]:
i = 1
while i <= 2 :
    j = 0
    
    while  j <= 2 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2
0 2 4

In [34]:
# lets use while loop usig some numbers
i = 1
while i <= 4 :
    j = 0
    while  j <= 3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [35]:
name = 'nit'

for i in name:
    print(i)

n
i
t

In [36]:
name1 = [1,3.5,'hallo'] #i want print the value individualy

for i in name1:
    print(i)

1
3.5
hallo

In [37]:
# print the value which is divisible by 5 

for i in range(1,51):
    
    if i%5==0 :
        print(i)

5
10
15
20
25
30
35
40
45
50

In [38]:
# print the value which is divisible by 5 

for i in range(1,51):
    
    if i%5!=0 :
        print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49

In [39]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [42]:
for i in range(1,11):
    if i == 6:
       break 
    print(i)

1
2
3
4
5

In [46]:
for i in range(1,11):
    if i == 6:
       continue
    print(i)

1
2
3
4
5
7
8
9
10

In [47]:
for i in range(1,11):

SyntaxError: incomplete input (1334445784.py, line 1)

In [48]:
for i in range(1,11):
    pass

In [ ]:
pass abstraction -- abstact class & abstract method